@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Import custom fonts */
  @font-face {
    font-family: 'Myriad-Apple-Text';
    font-style: normal;
    font-weight: normal;
    src: url(../public/assets/fonts/Myriad-Apple-Text.ttf.woff) format('woff2');
  }

  @font-face {
    font-family: 'Chalet-Comprimé';
    src: url(../public/assets/fonts/ChaletComprime-CologneSeventy.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  *, 
  *::before, 
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    font-family: 'Myriad-Apple-Text';
    font-weight: 500;
  }

  .chalet-comprimé {
    font-family: "Chalet-Comprimé";
  }

  .home-background {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
  }

  /* Spinner styles */
  .spinner {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0.5px;
    background: conic-gradient(#0000 10%,#000000) content-box;
    -webkit-mask: repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
          radial-gradient(farthest-side,#0000 calc(100% - 3.8px),#000 calc(100% - 3.8px));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: spinner-d55elj 1.2s infinite steps(10);
  }

  @keyframes spinner-d55elj {
    to {
        transform: rotate(1turn);
    }
  }

  /* Responsive design of the home page visual */
  @media (max-aspect-ratio: 5/10) {
      .responsive-visual {
        @apply w-[70vw] h-[140vw];
      }
      .overlapping-paragraph {
        @apply text-[35vw];
      }
  }

  @media (min-aspect-ratio: 5/10) and (max-aspect-ratio: 7/10) {
    .responsive-visual {
      @apply w-[70vw] h-[100vw];
    }
    .overlapping-paragraph {
      @apply text-[35vw];
    }
  }

  @media (min-aspect-ratio: 7/10) and (max-aspect-ratio: 9/10) {
    .responsive-visual {
      @apply w-[80vw] h-[80vw];
    }
    .overlapping-paragraph {
      @apply text-[27vw];
    }
  }

  @media (min-aspect-ratio: 9/10) and (max-aspect-ratio: 12/10) {
    .responsive-visual {
      @apply w-[80vw] h-[60vw];
    }
    .overlapping-paragraph {
      @apply text-[18vw];
    }
  }

  @media (min-aspect-ratio: 12/10) {
    .responsive-visual {
      @apply w-[70vw] h-[30vw];
    }
    .overlapping-paragraph {
      @apply text-[10vw];
    }
  }

  .overlapping-paragraph {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      line-height: 0.9;
      text-align: center;
      z-index: 1;
  }

  /* Fade-in and out transitions between pictures */
  .fade-in {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
}

