@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Myriad-Apple-Text';
    font-style: normal;
    font-weight: normal;
    src: url(../assets/fonts/Myriad-Apple-Text.ttf.woff) format('woff2');
  }

  *, 
  *::before, 
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    font-family: 'Myriad-Apple-Text';
    font-weight: 500;
  }
}